<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="">
       <h1>Priyanshi Prateek</h1>
       <h2>Here's a list of books I've read</h2>
       <p>
        Here are brief summaries of all the books I've read so far. I've used their ISBN numbers to display the book covers, and you can use these same ISBNs to find them at your local bookstore. This page will be updated regularly as I continue reading.
       </p>
       <p>
        My top picks are listed first, but feel free to sort by <a href="/title">title</a>, <a href="/date">newest reads</a>, or <a href="/">best-rated</a>!
       </p>
    </div>
</body>
</html>